.weather-container{
    width: 300px;
    border-radius: 10px;
    box-shadow: 10px -2px 20px 2px rgb(0 0 0 / 80%);
    margin: 50px auto;
    background-color:  #bce2f1;
    color: #000000;
    padding: 0 20px 20px 20px;
    
}
.top,.bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.city{
    font-weight: 600;
    font-size: 30px;
    line-height: 1;
    margin: 0 ;
    letter-spacing: 1px;
}
.weather-des{
    font-weight: 100;
    font-size: 18px;
    line-height: 1;
    margin: 0 ;
    letter-spacing: 2px;
}


.weather-icon{
    width: 100px;
}
.temperature{
    font-weight: 600;
    font-size: 70px;
    width: auto;
    letter-spacing: -5px;
    margin: 10px 0;
   
}
.details{
    width: 100%;
    padding-left: 20px;
}
.details-label.detail-mar{
    margin-bottom: 5px;
    
}
.details-row{
    display: flex;
   justify-content: space-between;
}
.details-lable{
    font-weight: 400;
    font-size: 12px;
    text-align: left;
}
.details-value{
    font-weight: 600;
    font-size: 18px;
    text-align: right;
}